
*.user
*.user
Lab4_Multifunctional-Dashboard_JMielbrecht-Banks.pro.user
Lab4_Multifunctional-Dashboard_JMielbrecht-Banks.pro.user
moc_httpmanager.cpp
*.o
moc_mainwindow.cpp
*.5f364f1
Makefile
moc_predefs.h
.qmake.stash
Lab4_Multifunctional-Dashboard_JMielbrecht-Banks.pro.user
Lab4_Multifunctional-Dashboard_JMielbrecht-Banks.exe
*.user
Lab4_Multifunctional-Dashboard_JMielbrecht-Banks.pro.user
Lab4_Multifunctional-Dashboard_JMielbrecht-Banks.pro.user
Lab4_Multifunctional-Dashboard_JMielbrecht-Banks.pro.user
*.autosave
*.user
*.user
